* {
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 18px;
}
.text-size {
  /* Absolute size */
  /* font-size: xx-large;*/

  /* Relative size */
  /*font-size: larger;*/
  font-size: 200%;
}

.text-weight {
  /* font-weight: lighter; */
  /* font-weight: bold; */
  /* font-weight: 700; */
}

.text-style {
  /* font-style: oblique 45deg; */
}

.text-transform {
  /* text-transform: capitalize; */
}

.text-decoration {
  text-decoration: line-through;
}

.decoration {
  /* text-decoration-line: overline;
  text-decoration-color: blue;
  text-decoration-thickness: 3px; */

  text-decoration: underline overline blue wavy 10px;
}

.text-style {
  line-height: 150%;
  letter-spacing: normal;
  word-spacing: 5px;
  /* word-break: break-all; */
  /* word-wrap: break-word; */

  text-align: center;
  /* text-shadow: 2px 2px 5px yellow; */
}

.text-fl-pseudo::first-letter {
  font-size: 300%;
  font-family: fantasy;
  color: red;
  text-shadow: 10px 10px 5px black;
}

.text-fl-pseudo::first-line {
  font-family: monospace;
  font-size: large;
  color: violet;
}
