* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 60%;
  margin: 0 auto;
}

h1 {
  color: white;
  padding: 3em 0;
  font-size: 30px;
}

article {
  background-color: white;
  padding: 5em;
  margin: 20px 0;
}

h2 {
  font-size: 18px;
  color: #b3b3b3;
  text-transform: uppercase;
  padding: 2em 0;
}

.parent {
  border: 5px solid lightcoral;
}

.item {
  background-color: deepskyblue;
  color: white;
  font-weight: bold;
  padding: 15px 0;
  margin: 5px;
}

/* Display flex */

.example-flex {
  display: flex;
}

/* Flex direction */

.example-direction {
  display: flex;

  flex-direction: row;
}

.example-direction .item {
  width: 150px;
}

/* Flex wrap */

.example-wrap {
  display: flex;
  /* flex-wrap: wrap;  */
  flex-flow: row wrap;
}

.example-wrap .item {
  width: 150px;
}

/* Grow  shrink and basis*/

.example-flex-grow-shrink :first-child {
  width: 150px;
  flex-grow: 2;
}

.example-flex-grow-shrink {
  display: flex;
  flex-wrap: wrap;

  /* flex-basis: auto; */
}

.example-flex-grow-shrink > div {
  width: 200px;
  flex-shrink: 2;
  flex: 0 0 auto;
}

/* Align item */

.example-align-item {
  display: flex;
  height: 250px;
  /* flex-direction: column; */

  align-items: center; /* will align items on the cross axis*/
}

.example-align-item .item {
  width: 50px;
  height: 50px;
}

/* Justify content */

.example-justify {
  display: flex;

  justify-content: center; /* will align items on the main axis*/
}

.example-justify .item {
  width: 50px;
}

.example-justify .item3 {
  width: 80px;
}

/* Align content */

.example-align-content {
  display: flex;
  height: 400px;
  flex-wrap: wrap;
  align-content: space-around;
}

.example-align-content .item {
  width: 200px;
  height: 30px;
}

/* Align Self */

.example-align-self {
  display: flex;
  height: 200px;
  background-color: lightgray;
  justify-content: space-around;
}

.example-align-self .item {
  width: 50px;
  height: 50px;
  background-color: coral;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.example-align-self :nth-child(1) {
  align-self: flex-start;
}

.example-align-self :nth-child(2) {
  align-self: center;
}

.example-align-self :nth-child(3) {
  align-self: flex-end;
}

.example-align-self :nth-child(4) {
  align-self: stretch;
}

/* Item Order */

.example-order {
  display: flex;
}

.example-order .item {
  width: 50px;
}

.example-order .item:nth-child(1) {
  order: 3;
}

.example-order .item:nth-child(2) {
  order: 5;
}

.example-order .item:nth-child(3) {
  order: 1;
}

.example-order .item:nth-child(4) {
  order: 2;
}

.example-order .item:nth-child(5) {
  order: 4;
}
