* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

.box {
  background-color: skyblue;
  border: 1px solid black;
}
.container {
  display: grid;
  grid-template-rows: 1fr 0.5fr 2fr 1fr;
  grid-template-areas:
    "header header"
    "sidebar content"
    "sidebar content"
    "footer footer";
}

.box-1 {
  grid-area: header;
}

.box-2 {
  grid-area: navbar;
}

.box-3 {
  grid-area: content;
}
