.container {
  display: grid;
  gap: 10px 10px;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(7, 100px);
}

.box {
  background-color: skyblue;
  border: 1px solid black;
}
